@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #3b82f6;
  --accent: #60a5fa;
  --background: #ffffff;
  --foreground: #0f172a;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
